header {
  background-color: #f0f0f0;
  padding: 30px 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  .container {
    max-width: 1500px;
    margin: auto;
  }
  
  .foto-perfil {
    width: 75px;
    height: 75px;
    border-radius: 75%;
    margin-right: 25px;
  }
  
  h1 {
    margin-bottom: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .gerir-perfil {
    position: absolute;
    right: 200px;
    top: 30px;
  }

  .terminar-sessao {
    position: absolute;
    right: 50px;
    top: 30px;
  }
  
  main {
    padding: 20px 0;
  }
  
  .tarefas {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .nova-tarefa {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .nova-tarefa:hover {
    background-color: #4CAF50;
  }

  #lista-tarefas li {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 5px; 
    border-bottom: 1px solid #ccc; 
  }
  
  .remover-tarefa {
    background-color: #000000; 
    color: white; 
    border: none; 
    padding: 7px 14px; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-right: 30px;
  }
  
  .remover-tarefa:hover {
    background-color: #ff3434;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 10px;
    text-align: center;
  }