
  body {
    font-family: sans-serif;
    font-size: 20px;
    color: #333;
    line-height: 1.5em;
  }
  
  a:hover {
    color: #666;
  }
  
  header {
    background-color: #eee;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .usuario h1 {
    font-size: 30px;

  }
  
  .usuario a {
    margin-left: 10px;
    font-size: 14px;
  }

  .botao-voltar {
    background-color:  #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    }
  
  main {
    padding: 40px 0;
  }
  
  .dados-pessoais,.alterar-senha {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .dados-pessoais h1,.alterar-senha h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dados-pessoais form,.alterar-senha form {
    margin-top: 20px;
  }
  
  .dados-pessoais label,
  .alterar-senha label {
    display: block;
    margin-bottom: 5px;
  }
  
  .dados-pessoais input,.alterar-senha input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .dados-pessoais select, .alterar-senha select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .dados-pessoais button, .alterar-senha button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color:  #007bff;
    color: #fff;
    cursor: pointer;
  }

  footer {
    background-color: #eee;
    padding: 10px 5px;
    text-align: center;
  }
  
